/* ImageCarousel.css */
.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 50vh;
}

.image-row {
  display: flex;
  position: relative;
  white-space: nowrap;
}

.image-row img {
  height: 40vh;
  margin-right: 5px;
}
